
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
mat-dialog-actions {
  justify-content: flex-end;
}

.mat-properties-create {
  padding: 6px;
  width: 85px;
  border-radius: 3px;
  border: solid;
  color: #3f51b5;
  border-width: 1.75px;
  box-shadow: transparent;
  background-color: transparent;
  margin-top: 25px;
  margin-right: -10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.mat-properties-create.cancel {
  color: #242424;
  border-color: transparent;
  margin-right: 5px;
}

.mat-properties-create.cancel:hover {
  background-color: #e0e0e0;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.mat-properties-create:hover {
  background-color: #2c4cff1f;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.create-folder-content-body {
  margin-left: 45px;
  margin-bottom: -5px;
  margin-top: 1px;
  font-size: 17px;
  min-width: 400px;
}

.create-folder-clear-button {
  border-radius: 100%;
  background-color: transparent;
  border-color: transparent;
}

.create-folder-clear-button:hover {
  background-color: rgba(0, 0, 0, 0.12) !important;
  transition: 0 !important;
  -webkit-transition-duration: 0 !important;
  transition-duration: 0 !important;
}

.create-folder-clear-icon {
  font-size: 14px;
  height: 5px;
}


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
