<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
-->
<zlux-tab-trap></zlux-tab-trap>
<i class="{{icon}} modal-icon"></i>
<h2 mat-dialog-title class="modal-mat-header">{{name}} - File Tagging</h2>
<div class="modal-row">
  <div class="modal-column-full-width">
    <mat-list-item>
      <ng-container *ngIf="isDirectory else file">Tag all files as</ng-container>
      <ng-template #file>Tag file as</ng-template>
      <mat-form-field appearance="standard" style="margin-left: 36px;">
        <input matInput required type="text"
          [(ngModel)]="selectedOption" (ngModelChange)="onValueChange($event)"
          [matAutocomplete]="auto"
          [errorStateMatcher]="matcher"
          #encodingInput="ngModel"
        >
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="encodingInput.errors?.required">
          Encoding is required
        </mat-error>
      </mat-form-field>
    </mat-list-item>
  </div>
</div>

<div class="modal-row" *ngIf="isDirectory">
  <div class="modal-column" style="width: 40%;">
    <mat-list-item>
      <mat-slide-toggle matTooltip="Process subdirectories" color="primary" [(ngModel)]="recursive"></mat-slide-toggle>
    </mat-list-item>
  </div>
  <div class="modal-column">
    <mat-list-item>
      <div class="selectable-text">Recursive?</div>
    </mat-list-item>
  </div>
</div>

<mat-dialog-actions>
  <button mat-button mat-dialog-close class="modal-mat-button cancel">Cancel</button>
  <button mat-button mat-dialog-close class="modal-mat-button" (click)="changeTag()" [disabled]="!isOptionSelected">Save</button>
</mat-dialog-actions>

<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
-->
