

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.fileexplorer-browser-module{
  margin-left: 10px;
  margin-top: 10px;
}

.fileexplorer-global{
  /* padding: 10px; */
}

.fileexplorer-tabs{
  height: 25px;
  text-align: center;
  padding-bottom: 30px;
}

.fileexplorer-tab {
  font-size: 15px;
  color: #007bff;
  height: 35px;
  width: 170px;
  padding-top: 6px;
  margin-left: -10px;
}

.fileexplorer-tab-selected {
  font-size: 15px;
  height: 35px;
  width: 165px;
  font-weight: bold;
  padding-top: 6px;
  margin-left: -7px;
  color: #005abb;
  background-color: #d4d4d4;
}

.fileexplorer-tabs-list {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  width: 100%;
  height: 35px;
  background-color: #464646;
}

.fileexplorer-tabs-text {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}



/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

