
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
mat-dialog-actions {
  justify-content: flex-end;
}

.file-properties-column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.file-properties-row:after {
  content: "";
  display: table;
  clear: both;
}

.file-properties-title {
  vertical-align: middle;
  float: left;
}

.selectable-text {
  -moz-user-select: text !important;
  -khtml-user-select: text !important;
  -webkit-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
  min-width: 200px;
}

.mat-properties-close {
  padding: 6px;
  width: 85px;
  border-radius: 3px;
  border: solid;
  color: #3f51b5;
  border-width: 1.75px;
  box-shadow: transparent;
  background-color: transparent;
  margin-top: 25px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.mat-properties-close:hover {
  background-color: #e0e0e0;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.file-properties-header {
  margin-left: 33px; 
  margin-bottom: 15px;
}
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
