
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
mat-dialog-actions {
  justify-content: flex-end;
}

.modal-column {
  float: left;
  width: 50%;
}

.modal-column-full-width {
  width: 100%;
}

/* Clear floats after the columns */
.modal-row:after {
  content: "";
  display: table;
  clear: both;
}

.modal-row {
  padding-top: 15px;
  font-size: medium;
}

.modal-title {
  vertical-align: middle;
  float: left;
}

.selectable-text {
  -moz-user-select: text !important;
  -khtml-user-select: text !important;
  -webkit-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
  min-width: 200px;
}

.modal-mat-button {
  padding: 6px;
  width: 85px;
  border-radius: 3px;
  border: solid;
  color: #3f51b5;
  border-width: 1.75px;
  box-shadow: transparent;
  background-color: transparent;
  margin-top: 25px;
  margin-right: -10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.modal-mat-button.cancel {
  color: #242424;
  border-color: transparent;
  margin-right: 5px;
}

.modal-mat-button.cancel:hover {
  background-color: #e0e0e0;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.modal-mat-button:hover {
  background-color: #2c4cff1f;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.modal-mat-button-delete {
  padding: 6px;
  width: 85px;
  border-radius: 3px;
  border: solid;
  color: #e64242;
  border-width: 1.75px;
  box-shadow: transparent;
  background-color: transparent;
  margin-top: 25px;
  margin-right: -10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.modal-mat-button-delete.cancel {
  border-color: transparent;
  color: #242424;
  margin-top: 25px;
  margin-right: 5px;
}

.modal-mat-button-delete.cancel:hover {
  background-color: #e0e0e0;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.modal-mat-button-delete:hover {
  background-color: #fff0f0;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.modal-mat-header {
  margin-left: 33px; 
  margin-bottom: 15px;
}

.modal-icon {
  font-size: 24px;
  position: absolute;
  margin-top: 4px;
  margin-left: 3px;
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
