
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/



/* !important tags are used here to prevent other apps to bleed into the FE style */

.fileexplorer-tree-panel {
  flex: 1 1 0px !important;
  background: transparent !important;
  height: 100% !important;
  width: 100% !important;
  margin-right: 10px !important;
  color: inherit !important;
}

.ui-tree {
  width: 100% !important;
  height: 100% !important;
  min-width: 300px !important;
  background: transparent !important;
  border: 0px !important;
  border: none !important;
}

.ui-tree .ui-tree-container {
  padding: 15px !important;
  font-size: medium !important;
  color: inherit !important; 
  overflow: auto !important;
  background-color: inherit !important;
  height: 100% !important;
}

.ui-tree .ui-widget .ui-widget-content {
  background: transparent !important;
  border: 0px !important;
  background-color: inherit !important;
}

.ui-treenode-label.ui-state-highlight {
  background-color: #e0e0e0;
  border-radius: 4px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.ui-tree .ui-treenode-label.ui-state-highlight {
  color: black;
}

.ui-treenode {
  width: fit-content !important;
  padding: 1px !important;
  cursor: pointer !important;
}

.ui-treenode-content{
  display: table;
}

.ui-treenode-label {
  padding-left: 3px;
  display: table-cell;
}

.ui-treenode-label-italic {
  font-style: italic;
}

.ui-treenode-icon {
  padding-right: 3px;
  display: table-cell;
}

.ui-tree-empty-message {
  color: white !important;
}

.ui-tree .ui-treenode-children {
  margin: 0 !important;
  padding: 0 0 0 1em !important;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

