

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.filebrowsermvs-search {
  width: 95%;
  min-width: 250px;
  margin-left: 5px;
  display: inline-block;
  height: 40px;
}

.filebrowsermvs-search-input{
  width: 100%;
  min-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  height: 35px;
  background-color: #464646;
  color: white;
  padding-left: 5px;
  border: 0px;
}

.ui-tree-empty-message {
  color: transparent;
  height: 0px;
}



/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

