
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

<div style="height: 100%;">
    <img src="../../../assets/explorer-uparrow.png" (click)="levelUp()" [ngStyle]="treeStyle">
    <!-- <svg width="14" height="16" viewBox="0 0 14 16" fill-rule="evenodd" (click)="levelUp()"><path d="M6 3.4V16h2V3.4l4.7 4.9L14 7 7 0 0 7l1.3 1.3z"></path></svg> -->
    <div class="filebrowseruss-search" [ngStyle] = "searchStyle">
    <input [(ngModel)]="path" placeholder="Enter a directory..." class="filebrowseruss-search-input" [ngStyle] = "inputStyle" (change)="displayTree(path, false)">
    </div>
    <div (click)="onClick($event);" [hidden]="hideExplorer">
        <tree-root [treeData]="data" (clickEvent)="onNodeClick($event)" [ngStyle] = "treeStyle"
        (contextmenu)="$event.preventDefault(); onRightClick($event);" 
        ></tree-root>
    </div>
</div>

    <!-- <p-dialog header="New File" [(visible)]="addFileDisplay" [modal]="false" [responsive]="true" [width]="350" [minWidth]="200" >
        <input type="text" placeholder="New Name" name="newPath" [(ngModel)]="newPath">
            <p-footer>
                <button type="button" pButton (click)="addFileDisplay=false; addFile();" label="Ok">Ok</button>
                <button type="button" pButton (click)="addFileDisplay=false" label="Cancel">Cancel</button>
            </p-footer>
    </p-dialog>
    <p-dialog header="New Folder" [(visible)]="addFolderDisplay" [modal]="false" [responsive]="true" [width]="350" [minWidth]="200" >
        <input type="text" placeholder="New Name" name="newPath" [(ngModel)]="newPath">
            <p-footer>
                <button type="button" pButton (click)="addFolderDisplay=false; addFolder();" label="Ok">Ok</button>
                <button type="button" pButton (click)="addFolderDisplay=false" label="Cancel">Cancel</button>
            </p-footer>
    </p-dialog>
    <p-dialog header="Copy" [(visible)]="copyDisplay" [modal]="false" [responsive]="true" [width]="350" [minWidth]="200" >
        <span>Copy {{selectedItem}}</span>
        <input type="text" placeholder="New Name" name="newPath" [(ngModel)]="newPath">
            <p-footer>
                <button type="button" pButton (click)="copyDisplay=false; copy();" label="Ok">Ok</button>
                <button type="button" pButton (click)="copyDisplay=false" label="Cancel">Cancel</button>
            </p-footer>
    </p-dialog>
    <p-dialog header="Rename" [(visible)]="renameDisplay" [modal]="false" [responsive]="true" [width]="350" [minWidth]="200" >
        <span>Rename {{selectedItem}}</span>
        <input type="text" placeholder="New Name" name="newPath" [(ngModel)]="newPath">
            <p-footer>
                <button type="button" pButton (click)="renameDisplay=false; rename();" label="Ok">Ok</button>
                <button type="button" pButton (click)="renameDisplay=false" label="Cancel">Cancel</button>
            </p-footer>
    </p-dialog>
<div class="filebrowseruss-dialog-menu">
    <p-dialog header="" [(visible)]="rtClickDisplay" [modal]="false"
    [responsive]="true" [showHeader]="false" [width]="auto" [height]="auto"
            [baseZIndex]="10000" [positionLeft]="popUpMenuX" [positionTop]="popUpMenuY">
            <div (click)="rtClickDisplay=false; onNewFileClick()">
            New File
            </div>
            <div (click)="rtClickDisplay=false; onNewFolderClick()">
            New Folder
            </div>
            <div (click)="rtClickDisplay=false; onDeleteClick($event)">
            Delete
            </div>
            <div (click)="rtClickDisplay=false; onCopyClick($event)">
            Copy
            </div>
            <div (click)="rtClickDisplay=false; onRenameClick($event)">
            Rename
            </div>
    </p-dialog>
</div> -->

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
