
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
mat-dialog-actions {
  justify-content: flex-end;
}

.mat-properties-table {
  border: 2px solid #c3c3c3;
  width: 100%;
}

.mat-properties-cell {
  -moz-user-select: text;
  -khtml-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid #a3a3a3;
}

.mat-properties-close {
  padding: 6px;
  width: 85px;
  border-radius: 3px;
  border: solid;
  color: #3f51b5;
  border-width: 1.75px;
  box-shadow: transparent;
  background-color: transparent;
  margin-top: 25px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.mat-properties-close:hover {
  background-color: #e0e0e0;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
  padding-left: 5px;
}

td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child {
  padding-right: 5px;
}

.file-properties-header {
  margin-left: 33px; 
  margin-bottom: 15px;
  min-width: 500px;
}
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/
