
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
<zlux-tab-trap></zlux-tab-trap>
<!-- FA Icon is determined by class name, so we hardcode the style here -->
<i class="{{icon}}" style="font-size:24px; position: absolute; margin-top: 4px; margin-left: 3px;"></i>
<h2 mat-dialog-title class="modal-mat-header">{{name}} - Change Owners</h2>


<!-- Possible future filter code -->
<!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field> -->

<div class="modal-row">
    <div class="modal-column-ownership" style="width: 30%;">
      <mat-list-item>
        <div class="selectable-text">Mode:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{mode}} ({{modeSym}})</div>
      </mat-list-item>
    </div>
</div>

<div class="modal-row">
  <div class="modal-column-ownership">
    <mat-list-item>
      User:&nbsp;&nbsp;
      <mat-form-field style="margin-left: 15px;">
        <input id="owner-input" name="name" matInput type="text"
          [(ngModel)]="ownerName">
        <button class="create-folder-clear-button" mat-button *ngIf="folderName" matSuffix mat-icon-button aria-label="Clear" (click)="folderName=''">
          <mat-icon class="create-folder-clear-icon">close</mat-icon>
        </button>
      </mat-form-field>
    </mat-list-item>
  </div>
</div>

<div class="modal-row">
  <div class="modal-column-ownership">
    <mat-list-item>
      Group:
      <mat-form-field style="margin-left: 15px;">
        <input id="group-input" matInput type="text"
          [(ngModel)]="groupName">
        <button class="create-folder-clear-button" mat-button *ngIf="folderPath" matSuffix mat-icon-button aria-label="Clear" (click)="folderPath=''">
          <mat-icon class="create-folder-clear-icon">close</mat-icon>
        </button>
      </mat-form-field>
    </mat-list-item>
  </div>
</div>

<mat-dialog-actions>
  <button mat-button mat-dialog-close class="modal-mat-button cancel">Cancel</button>
  <button mat-button mat-dialog-close class="modal-mat-button" (click)="saveOwnerInfo()">Save</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
</mat-dialog-actions>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
