.mat-dialog-title {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
}

.mat-dialog-content {
  padding: 5px 35px;
  width: 480px;
}

.mat-dialog-content label {
  float: left;
  width: 200px;
  padding-top: 20px;
}

.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 200px;
}

.mat-select {
  font-family: Roboto, "Helvetica Neue", sans-serif
}

.mat-option {
  background: white;
}

.mat-option.mat-active {
  background: rgb(218, 217, 217) !important;
}

.mat-option:hover {
  background: rgb(239, 238, 238);
}

::ng-deep .mat-select-panel {
  box-shadow: 0 0 5px 1px grey;
  margin-top: 10px;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.required:before {
  content:"* ";
  color: black;
}

.mandatory {
  font-style: Roboto, "Helvetica Neue", sans-serif;
  text-align: left;
  margin-left: 25px;
}