.mat-dialog-title {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  border-bottom: 2px solid;
  width: fit-content;
  margin-left: 330px;
}

.mat-dialog-container {
  width: 1000px !important;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  margin-left: 12px;
  width: 45%;
  padding: 10px;
}

.column2 {
  float: right;
  margin-left: 30px;
  width: 45%;
  padding: 10px;
}

.mat-dialog-content {
  box-sizing: border-box;
  padding: 5px 0px 5px 35px;
  width: 940px;
  overflow: hidden;
}

.mat-dialog-content label {
  float: left;
  width: 200px;
  padding-top: 20px;
  font-weight: 500;
}

.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 200px;
}

.mat-select {
  font-family: Roboto, "Helvetica Neue", sans-serif
}

.mat-option {
  background: white;
}

.mat-option.mat-active {
  background: rgb(218, 217, 217) !important;
}

.mat-option:hover {
  background: rgb(239, 238, 238);
}

::ng-deep .mat-select-panel {
  box-shadow: 0 0 5px 1px grey;
  margin-top: 10px;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.required:before {
  content:"* ";
  color: black;
}

.mandatory {
  font-style: Roboto, "Helvetica Neue", sans-serif;
  text-align: left;
  margin-left: 20px;
}

.errorClass {
  margin-left: 20px;
  color: red;
  position: relative;
}
