

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.filebrowseruss-search {
  width: 90%;
  margin-left: 5px;
  display: inline-block;
  height: 40px;
}

.filebrowseruss-search-input{
  width: 80%;
  min-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  height: 35px;
  background-color: #d2ddf0
}

.filebrowseruss-dialog-menu{
  background: white;
  padding: 0px;
  height: auto;
  width: auto;
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

