
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.fileexplorer-tree-panel {
<<<<<<< HEAD
  flex: 1 1 0px !important;
  background: transparent !important;
  height: 100% !important;
  width: 100% !important;
  margin-right: 10px !important;
  color: inherit !important;
}

.ui-tree {
  width: 100% !important;
  height: 100% !important;
  min-width: 300px !important;
  background: transparent !important;
  border: 0px !important;
  border: none !important;
}

.ui-tree .ui-tree-container {
  padding: 15px !important;
  font-size: medium !important;
  color: inherit !important; 
  overflow: auto !important;
  background-color: inherit !important;
  height: 100% !important;
}

.ui-tree .ui-widget .ui-widget-content {
  background: transparent !important;
  border: 0px !important;
  background-color: inherit !important;
}

.ui-treenode-label.ui-state-highlight {
  background-color: #e0e0e0;
  border-radius: 4px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.ui-tree .ui-treenode-label.ui-state-highlight {
  color: black;
}

.ui-treenode {
  width: fit-content !important;
  padding: 1px !important;
  cursor: pointer !important;
}

.ui-treenode-label {
  padding-left: 3px !important;
}

.ui-treenode-icon {
  padding-right: 3px !important;
}

.ui-tree-empty-message {
  color: white !important;
}

.ui-tree .ui-treenode-children {
  margin: 0 !important;
  padding: 0 0 0 1em !important;
=======
  flex: 1 1 0px;
  background: transparent;
  height: 100%;
  width: 100%;
  margin-right: 10px;
  color: white;
}

.ui-tree {
  width: 100%;
  height: 100%;
  min-width: 300px;
  background: transparent;
  border: 0px;
}

.ui-tree .ui-tree-container {
  padding: 15px;
  font-size: medium;
  color: white;
  overflow: auto;
  height: 100%;
}

.ui-tree .ui-widget .ui-widget-content {
  background: transparent;
  border: 0px;
}

.ui-treenode-label.ui-state-highlight {
  background-color: #e0e0e0;
  border-radius: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

.ui-tree .ui-treenode-label.ui-state-highlight {
  color: black;
}

.ui-treenode {
  width: fit-content;
  padding: 1px;
}

.ui-treenode-label {
  padding-left: 3px;
}

.ui-treenode-icon {
  padding-right: 3px;
}

.ui-tree-empty-message {
  color: white;
}

.ui-tree .ui-treenode-children {
  margin: 0;
  padding: 0 0 0 1em;
>>>>>>> e7660622fe63fc7901d00bbf2884a6cfd9fe41cc
}


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

