
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.nav-container {
  /* display:flex; */
  /*flex-direction: column;*/
  height: 100%;
  width: 100%;
  min-width: 300px;
}

.nav-panel {
  flex: 1 1 0px;
  overflow: auto;
  background: #efefef;
  min-height: 300px;
}

.ui-tree-container {
  padding: 10px
}

.ui-tree {
  width: 95%;
  min-width: 300px;
  padding: 15px;
  padding-bottom: 15px;
}
.ui-treenode {
  width: fit-content;
}

:host >>> .rs-com-css-file-navigator {
  border-radius: 0;
  width: 100%;
  background: inherit;
  border: none;
  font-size: 20px;
}

:host >>> .toolbar {
  background: #c2d8e7;
  border-radius: 0;
}

:host >>> .toolbar .ui-button {
  background: #c2d8e7;
  border-color: #c2d8e7;
  color: #5b5b5b;
}


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

