
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

<div style="height: 100%">

  <!-- Tabs, searchbar, and loading indicator -->
  <img src="../../../assets/explorer-uparrow.png" 
    data-toggle="tooltip" 
    class="filebrowsermvs-pointer-logo"
    title="Go up to the parent level" 
    (click)="levelUp()" 
    [ngStyle] = "treeStyle" tabindex="0" (keydown.enter)="levelUp()" />
    
  <div class="filebrowsermvs-search" [ngStyle] = "searchStyle">
    <div class="searchRowFlex">
      <input 
        [(ngModel)]="path" 
        list="searchMVSHistory" 
        placeholder="Enter a dataset query..." 
        class="filebrowsermvs-search-input" 
        (keydown.enter)="updateTreeView(path);" 
        [ngStyle] = "inputStyle">
      <!-- TODO: make search history a directive to use in both uss and mvs-->
      <mat-button-toggle-group id="qualGroup" #group="matButtonToggleGroup">
        <mat-button-toggle [checked]="additionalQualifiers" class="qualButton" (click)="additionalQualifiers = !additionalQualifiers" aria-label="Include additional qualifiers" title="Include Additional Qualifiers">
          <strong>.**</strong>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <datalist id="searchMVSHistory">
        <option *ngFor="let item of mvsSearchHistory.searchHistoryVal" [value]="item"></option>
      </datalist>
    </div>
  </div>

  <div class="fa fa-spinner fa-spin filebrowseruss-loading-icon" [hidden]="!isLoading"></div>
  <!-- Main tree -->
  <div [hidden]="hideExplorer" style="height: 100%;">
    <tree-root [treeData]="data" 
      (clickEvent)="onNodeClick($event)"
      (dblClickEvent)="onNodeDblClick($event)" 
      [style]="style"
      (rightClickEvent)="onNodeRightClick($event)">
    </tree-root>
  </div>
</div>
<!-- 
This program and the accompanying materials are
made available under the terms of the Eclipse Public License v2.0 which accompanies
this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

SPDX-License-Identifier: EPL-2.0

Copyright Contributors to the Zowe Project.
-->
