
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

  <div style="height: 100%">

    <!-- Tabs, searchbar, and loading indicator -->
    <img src="../../../assets/explorer-uparrow.png" 
      data-toggle="tooltip" title="Go up to the parent level" (click)="levelUp()" 
      style="width: 20px; height: 20px; filter: brightness(3); cursor: pointer;">
    <div class="filebrowsermvs-search">
      <input [(ngModel)]="path" list="searchMVSHistory" placeholder="Enter a dataset query..." class="filebrowsermvs-search-input" (keydown.enter)="updateTreeView(path);">
      <!-- TODO: make search history a directive to use in both uss and mvs-->
      <datalist id="searchMVSHistory">
        <option *ngFor="let item of mvsSearchHistory.searchHistoryVal" [value]="item"></option>
      </datalist>
    </div>
    <div class="fa fa-spinner fa-spin filebrowseruss-loading-icon" [hidden]="!isLoading"></div>
    <label style="margin-bottom: 0px;">
      <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle value=".**" [checked]="additionalQualifiers" (click)="additionalQualifiers = !additionalQualifiers" aria-label="Include additional qualifiers">
          <strong>.**</strong>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <!-- <input type="checkbox" [(ngModel)]="additionalQualifiers"> -->
    </label>

    <!-- Main tree -->
    <div [hidden]="hideExplorer" style="height: 100%;">
      <tree-root [treeData]="data" 
        (clickEvent)="onNodeClick($event)"
        (dblClickEvent)="onNodeDblClick($event)" 
        [style]="style"
        (rightClickEvent)="onNodeRightClick($event)">
      </tree-root>
    </div>
  </div>
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
