

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.searchRowFlex {
  width: 200px;
  display: flex;
  flex-direction: row;
}

.filebrowsermvs-search {
  width: fit-content;
  min-width: 250px;
  margin-left: 5px;
  display: inline-block;
  height: 40px;
}

.filebrowsermvs-search-input{
  width: 100%;
  min-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  height: 35px;
  background-color: #464646;
  color: white;
  padding-left: 5px;
  border: 0px;
  flex-grow: 2;
}

.filebrowsermvs-pointer-logo {
  width: 20px; 
  height: 20px; 
  filter: brightness(3); 
  cursor: pointer;
}

.ui-tree-empty-message {
  color: transparent;
  height: 0px;
}

.filebrowsermvs-node-deleting {
  opacity: .5;
}

#qualGroup {
  max-height: 35px;
  min-height: 30px;
}

.qualButton:not(.mat-button-toggle-checked) {
  background-color: #464646;
  color:#757575;
}

.filebrowsermvs-plus-icon {
  margin-left: -15px;
  font-size: large;
  cursor: pointer;
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

